html, body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: #8c7f69;
    
}

header {
    background-color: #5d4a36;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Adicionado para centralizar verticalmente */
    padding: 1rem 2rem;
}

.header-logo {
    font-size: 3rem;
    text-align: center; /* Ajustado para centralizar horizontalmente */
    width: 15%;
    margin: 0 auto; /* Adicionado para centralizar horizontalmente */
}


.header-nav ul {
    display: flex;
    gap: 1rem;

}

.header-nav ul li{
    list-style: none;
    text-align: center;
}

    
.header-nav a {
        text-decoration: none;
        color: #fff;
        padding: 0.8rem;
        border-radius: 5px;
    }
    
.header-nav a:hover {
    background-color: #bf9f69;
    color: #000;
}

.imagens div {
    height: 250px;
    /* width: 30%; */
}

.tamanho {
    height: 100%;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem auto;
    width: 70%;
    justify-content: space-around;
}

.imagens img:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
    filter: gray;
}


footer {
    background-color: #6f5f4a;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #d2d2d2;
    text-decoration: none;
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
    }

    .header-nav ul {
        /* flex-direction: column; */
        align-items: center;
        padding: 0;
    }

   
}